.input-geral {
    color: #888888;
    
}

.input-radio {
    color: #888888;
    margin-top: 10px;
    margin-bottom: 10px;
   /* position:absolute;
    margin-top:4px\9;
    margin-left:-20px

}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    /*border: 1px solid #555;*/
    outline: none;
}